
<!DOCTYPE html>
<html lang="en">
  <head>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/javascripts/excanvas/excanvas.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/javascripts/spinners/spinners.min.js"></script>
    <script type="text/javascript" src="/javascripts/lightview/lightview.js"></script>

    <link rel="stylesheet" type="text/css" href="/stylesheets/lightview/lightview.css"/>

    <meta charset="utf-8">
    <title>Portfolio Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Stock Control</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="mailto:rohanmoitra@gmail.com?Subject=Feedback & Suggestions">Contact</a></li>
            </ul>

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h2>My Portfolio</h2>

          <table border="1">
              <col width="50">
              <col width="100">
              <col width="50">
              <col width="100">
              <col width="100">
              <col width="100"> 
            <tr>
              <th>Symbol</th>
              <th>Name</th>
              <th>Holding</th>
              <th>Inv Price</th>
              <th>Current Price</th>
              <th>Day's Gain</th>
              <th>Overall Gain</th>
              <th>Current Value</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>

<% @stocks.each do |stock| %>
            <tr>
              <td align="center"><a href="http://finance.yahoo.com/q?s=<%= stock.symbol %> " class="lightview" data-lightview-type="iframe"
                 data-lightview-options="width: 1000, height: '100%'"><%= stock.symbol %></a></td>
              <td align="center"><%= stock.name %></td>
              <%@counter=@counter+1%>
              <td align="center"><%= stock.holding %></td>
              <td align="center"><%= stock.price %></td>
              <% @current_price = @result[@counter] %>
              <td align="center"><%= @current_price %></td>
              <% @counter=@counter+1 %>
              <% @daily_gain = stock.holding.to_f * @result[@counter].to_f %>
              <td align="center"><%= @daily_gain.round(2) %>
                <% if @daily_gain > 0 %>
                  <img src="/img/upArrow.png"> </img>
                <%else%>
                  <img src="/img/down_arrow.png"> </img>
                <%end%>
              </td>
                <%  @counter=@counter+1 %>
                <% @overall_gain = (@current_price.to_f-stock.price.to_f) * stock.holding.to_f %>
                <td align="center"><%=@overall_gain.round=%>
                <% if @overall_gain > 0 %>
                  <img src="/img/upArrow.png"> </img>
                <%else%>
                  <img src="/img/down_arrow.png"> </img>
                <%end%>
              </td>
              <% @current_value = @current_price.to_f * stock.holding.to_f %>
                      <td align="center"><%=@current_value.round(2)%></td>
             
      
              <td><%= link_to 'Show', stock %></td>
              <td><%= link_to 'Edit', edit_stock_path(stock)%></td>
              <td><%= link_to 'Destroy', stock, confirm: 'Are you sure?', method: :delete %></td>
            </tr>
          <% end %>
          </table>
        <br />

        <%= link_to 'New Stock', new_stock_path %>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>My Networth </h2> 
          <p> Networth: <%= @total_value.round(2) %>
          <% if @total_value.round(2) > @total_investment.round(2) %>
            <img src="/img/upArrow.png"> </img></p> 
          <%else%>
            <img src="/img/down_arrow.png"> </img>
          <%end%>
            <p> Total Investment: <%= @total_investment.round(2) %></p>
          
          <p> Total Portfolio Gain: <%= @total_gain.round(2) %>
          <% if @total_gain > 0 %>
            <img src="/img/upArrow.png"> </img> </p> 
          <%else%>
            <img src="/img/down_arrow.png"> </img>
          <%end%>
          
        </div>
       
          
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Rohan Moitra 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-alert.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-scrollspy.js"></script>
    <script src="/js/bootstrap-tab.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/js/bootstrap-popover.js"></script>
    <script src="/js/bootstrap-button.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-carousel.js"></script>
    <script src="/js/bootstrap-typeahead.js"></script>

  </body>
</html>
